@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');
.typo-externa{
    font-family: 'Bebas Neue', sans-serif;
}

$gray: rgb(218, 215, 215);
$gray-blur: rgba(218, 215, 215, 0.2);
$barra: rgb(65, 64, 64)